:host {
    .mat-form-field {
        width: 100%;
        margin-top: 10px;
    }
    th.mat-sort-header-sorted {
        color: black;
    }
    .mat-elevation-z8 {
        margin-left: 10px;
        width: 100%;
    }
    table {
        width: 800px;
    }

    td.mat-column-star {
        width: 20px;
        padding-right: 8px;
    }

    th.mat-column-position,
    td.mat-column-position {
        padding-left: 50px;
    }

    ::ng-deepth.mat-header-cell, ::ng-deep td.mat-cell, ::ng-deep td.mat-footer-cell {
        padding-left: 15px;
    }
    .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
    }

    .mat-table-sticky:last-child {
        border-left: 1px solid #e0e0e0;
    }
    ::ng-deep.mat-paginator .mat-paginator-container {
        justify-content: flex-start ;
    }
}
